@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LEARN</h1>
    <p class="lead">This is a free learning platform for everyone from anywhere.  </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Let's started</h2>
        <p>
            This platform gives you a powerful knowledge to build your concepts that
             is able to provide the skills required in high paying jobs
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="~/Views/Course/Index.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Collect Certificates</h2>
        <p>By completing course you will get certificate that will display your skills  .</p>
        <p><a class="btn btn-default" href="~/Views/Course/Index.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Top professors</h2>
        <p>You can easily learn under the top university's professsors that offers the high level of teaching.</p>
        <p><a class="btn btn-default" href="~/Views/Trainer/Index.cshtml">Learn more &raquo;</a></p>
    </div>
</div>